@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,200&family=Oswald:wght@300;600&family=Overpass:ital,wght@0,400;1,100&family=Rubik+Moonrocks&display=swap');

:root{
      --primary-color:#6C63FF;
}
hr{
    margin: 2rem;
}
body{
   
    font-family: 'Overpass', sans-serif;
       
    
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 700px;
    margin: auto;
}
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: auto;
}

.link-primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
   
    
}
.link-secondary{
    color:var(gray);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}
.no-bullet-allowed{
    list-style: none;
}
.inline-or{
    display: inline;
    padding: 0rem 1rem;
}    
.second-step{
    color: white;
     font-size:2rem ;
    font-weight: bold;
    font-style: italic;
}

.navigator-container{
    background-color:var(--primary-color);
    border-bottom-left-radius: 1rem;
    padding: 1rem; 
}
.navigator-container .link{
    color: white;
    
}
.navigator-container .nav-pills{
    text-align: right;
    font-size: large;
}

.code-hero{
    padding: 1rem;
    text-align: center;
}
.image-code{
    max-width: 300px;
    display: block;
    margin: auto;
}
.code-hero-img{
    color: gray;
}
.list-wiser{
    text-align: center;
    margin: auto;
    max-width: 600px;
    padding: 1rem 1rem;
    

}
.background{
    
    background-color: lightgrey;
    
}
.footer-rage{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    border-top-right-radius: 1rem;
}
.footer-rage .link{
    color: white;
    display: inline;
}
.link-active{
    font-weight: 500px;
    color: black;
}
.journey-vibe{
    max-width: 500px;
    margin: auto;
    display: block;

}